.TodoBoard {
  background: $color-gray-light-2;
  flex-basis: 100%;
  margin-top: 5rem;
  font-size: 1.8rem; //test
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
  padding: 2rem 0.8rem;
}
