.SideDrawer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 70%;
  background: $color-primary;
  z-index: 100;
  box-shadow: 1px 0 4px black;
  transform: translateX(-105%);
  transition: transform 0.3s ease-out;
  opacity: 0;
  // visibility: hidden;
}

.Open {
  transform: translateX(0);
  opacity: 1;
  // visibility: visible;
}
