.Layout {
  width: 100%;
  height: 100vh;
  // background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  background: #d1cdcf;
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
}

main {
  overflow-y: scroll;
  padding: 0 1rem 3rem;
  flex-basis: 100%;
  flex-direction: column;
}
