.Filter {
  display: flex;
  justify-content: space-around;
  background: #d8d8d8;

  .btn.btn-sm {
    font-size: 1.4rem;
    background: transparent;
    border: none;

    &:focus {
      box-shadow: none;
    }
  }

  .active {
    color: $color-primary;
  }
}
