@import "./../../abstracts";

.TodoBoard {
  background: red;
  flex-basis: 100%;
  margin-top: 5rem;
  font-size: 1.8rem; //test
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
}
