@import "./../../abstracts";

.AddTodoForm {
  text-align: center;
  padding: 0 60px;

  input {
    min-height: 40px;
    border-radius: 5px;
    background: $color-white;
    font-size: 2rem;

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $color-gray-light-1;
      font-size: 1.8rem;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: $color-gray-light-1;
      font-size: 1.8rem;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: $color-gray-light-1;
      font-size: 1.8rem;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: $color-gray-light-1;
      font-size: 1.8rem;
    }
  }

  button {
    position: absolute;
    right: 0;
    top: 50%;
    color: $color-white;
    width: 30px;
    height: 30px;
    display: block;
    outline: none;
    border: none;
    background: $color-primary;
    border-radius: 50%;
    transform: translateX(calc(100% + 1rem)) translateY(-50%);
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 5px;
      width: 70%;
      transform: translate(-50%, -50%);
      background: $color-white;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 5px;
      height: 70%;
      transform: translate(-50%, -50%);
      background: $color-white;
    }
  }
}
