@import "./../../../../abstracts";

.TodoItem {
  flex-basis: 36px;
  flex-shrink: 0;
  flex-grow: 0;
  background: $color-gray-light-1;
  padding: 0.5rem 0.8rem;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-radius: 3px;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  label {
    background: $color-white;
    align-self: stretch;
    flex-basis: 2.6rem;
    margin: 0 1rem 0 0;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    background: $color-primary;
  }

  input {
    display: none;

    &:checked ~ .task {
      text-decoration: line-through;
      color: #cac3c3;
      // font-weight: 300;
    }

    &:checked + label {
      background: darken($color-gray-light-1, 10%);
    }
  }

  .task {
    transition: 0.3s;
    flex-basis: calc(100% - 5.2rem);
    overflow-x: scroll;
    white-space: nowrap;
  }

  .task::-moz-selection {
    color: $color-white;
    background: $color-primary;
  }
  .task::selection {
    color: $color-white;
    background: $color-primary;
  }

  &:hover {
    .delete {
      opacity: 1;
    }
  }

  .delete {
    background: $color-gray-light-1;
    align-self: stretch;
    width: 2.6rem;
    margin: 0 0 0 1rem;
    transition: 0.3s;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;

    &:hover {
      &:before,
      &:after {
        background: red;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: lightcoral;
      top: 50%;
      left: 0;
      transition: 0.3s;
      transform: translateY(-50%) rotateZ(45deg);
      // transform-origin: center;
    }

    &::after {
      content: "";
      display: block;
      transition: 0.3s;
      position: absolute;
      height: 2px;
      width: 100%;
      background: lightcoral;
      top: 50%;
      left: 0;
      transform: translateY(-50%) rotateZ(-45deg);
      transform-origin: center;
    }
  }
}
